<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472461484021-s2knub6prq6k2rcd8u413kk22j739bmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472461484021-s2knub6prq6k2rcd8u413kk22j739bmc</string>
	<key>API_KEY</key>
	<string>AIzaSyACiqLjAz8HYqf3_-alfeIuuPE_JOKYkus</string>
	<key>GCM_SENDER_ID</key>
	<string>472461484021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yaleMarket</string>
	<key>PROJECT_ID</key>
	<string>yale-market</string>
	<key>STORAGE_BUCKET</key>
	<string>yale-market.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472461484021:ios:baa44c8e28cea2204d8abc</string>
</dict>
</plist>